/* Web-Kit`s */

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #fe6637 0%, #fda085 100%);
    background-image: linear-gradient(120deg, #fe6637 0%, #fda085 100%);
}

/* Classes */

* {
    font-family: 'Didact Gothic', sans-serif;
}

body {
    background-color: #0D0D0D;
}

.text-light-custom {
    color: azure;
}